<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link th:href="@{/dist/css/login.css}" rel="stylesheet">

</head>
<body>
<div class="box">
  <h1>
    Login
  </h1>
  <form action="user_login.html" method="post">
    <div class="input-box">
      <input class="input" name="user" required type="text">
      <label class="lable">User Name</label>
    </div>
    <div class="input-box">
      <input class="input" name="email" required type="email">
      <label class="lable">User Email</label>
    </div>
    <div class="input-box">
      <input class="input" name="birth"  type="date">
<!--      <label class="lable">User Birt Date</label>-->
    </div>
    <div class="input-box">
      <input class="input" name="img"  type="file">
<!--      <label class="lable">User Profile Image</label>-->
    </div>
    <div class="input-box">
      <input class="input" value="user" name="role" readonly type="text">
      <label class="lable"></label>
    </div>
    <div class="input-box">
      <input class="input" name="pass" required type="password">
      <label class="lable">Enter Your Password</label>
    </div>
    <div class="input-box">
      <input class="input" name="conPass" required type="password">
      <label class="lable">Confirm Password</label>
    </div>
    <div class="input-box">
      <input class="btn-submit" name="submit" type="submit">
    </div>
  </form>
  <div style="color: white" >already have a <b><a style="color: red" th:href="@{/login}">account?</a></b></div>
</div>
</body>
</html>